.light {
  --txt: #000;
  --txt-secondary: #cc9707;
  --txt-sec-darker: #EB8317;
  --bg-layout-home: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-home-section-main: none;
  --bg-layout-base: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-primary: #fafafa;
  --bg: #F3C623;
  --bg-active: rgba(235, 131, 23, 0.84);
  --bg-header: transparent;
  --bg-footer: transparent;
  --backdrop: rgba(0, 0, 0, 0.8);
  --card-shadow: rgba(235, 131, 23, 0.1);
  --primary: #F3C623;
  --border-primary: #F3C623;
  --logo-primary: #F3C623;
  --social-icon: #5de2ec;
  --social-icon-bg: #000000db;
  --social-shadow: #222222;

  --preloader: #fafafa;
  --bg-modal: #fafafa;
  --modal-border: none;
  --modal-close: #F3C623;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  --btn: #F3C623;
  --btn-hover: #EB8317;
  --btn-primary-txt: #000;
  --tags: #F3C623;
  --technologies: #000;
  --tags-txt: #000;
  --toggle-theme: #000;


  --primary-rgb: 255, 152, 0;    /* برتقالي */
  --accent-rgb: 255, 193, 7;     /* أصفر */
  --primary: rgb(var(--primary-rgb));
  --accent: rgb(var(--accent-rgb));
  --card-bg: rgba(255, 255, 255, 0.45);
}

.dark {
  --txt: #e4e1ff;
  --txt-secondary: #F3C623;
  --txt-sec-darker: #EB8317;
  --bg-layout-home: linear-gradient(to left, rgb(20, 20, 20), rgb(10, 10, 10));
  --bg-home-section-main: linear-gradient(to left, rgb(20, 20, 20), rgb(10, 10, 10));
  --bg-layout-base: linear-gradient(to left, rgb(10, 10, 10), rgb(5, 5, 5));
  --bg-primary: linear-gradient(to left, rgb(20, 20, 20), rgb(10, 10, 10));
  --bg: rgb(20, 20, 20);
  --bg-active: rgba(235, 131, 23, 0.84);
  --backdrop: rgba(0, 0, 0, 0.75);
  --card-shadow: rgba(235, 131, 23, 0.2);
  --primary: #F3C623;
  --border-primary: #F3C623;
  --logo-primary: #F3C623;
  --social-icon: #5de2ec;
  --social-icon-bg: #06a1f5b4;
  --social-shadow: #EB8317;
  --preloader: black;
  --bg-modal: rgba(10, 10, 10, 0.9);
  --modal-border: 1px solid rgba(243, 198, 35, 0.1);
  --modal-close: #F3C623;
  --modal-close-icon: #000;
  --drawer-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  --btn: #F3C623;
  --btn-hover: #EB8317;
  --btn-primary-txt: #000;
  --tags: rgba(243, 198, 35, 0.56);
  --technologies: #000;
  --tags-txt: #000;
  --toggle-theme: #fff;

  --primary-rgb: 255, 152, 0;    /* برتقالي */
  --accent-rgb: 255, 193, 7;     /* أصفر */
  --primary: rgb(var(--primary-rgb));
  --accent: rgb(var(--accent-rgb));
  --card-bg: rgba(255, 255, 255, 0.05);
}
