:export { logoPrimary: var(--logo-primary); }

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--logo-primary);
  transition: all 0.3s ease-out 0s;
  &:hover {
    transform: scale(1.1);
  }
}